---
layout: default
prism: true
---


<script type="text/javascript">posthog.capture('{{layout}}_start')</script>
<div class="container max-w-4xl mt-6 px-6 bg-slate-500">
    
    <div class="pb-5 mb-5 border-b border-gray-100 text-center">
        <h1 class="font-bold text-5xl">{{headline}}</h1>
        <h3 class="text-2xl">{{subheadline}}</h3>
        <p class="">{{description}}</p>
        <h1>{{question}}</h1>
        <a><button class="bg-slate-900 text-white w-20 h-10 rounded">{{answer_1}}</button></a>
        <a><button class="bg-slate-900 text-white w-20 h-10 rounded">{{answer_2}}</button></a>
    </div>
        
</div>