<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4 bg-slate-100">
    <div class="text-gray-500 space-x-5">
        <a href="/privacy">
            Privacy Policy
        </a>
        <a href="/terms">
            Terms and Service
        </a>
        <a href="https://optconsumerprivacy.com/">
            CCPA
        </a>
    </div>
    <div class="max-w-5xl mx-auto my-1">
        <p class="text-xs">
        We are a marketing company. This Site is part of our marketing efforts for third-parties. The offers that are discussed or appear on our website are from third party advertisers who compensate us. This compensation may impact how and where products appear on our website and the order in which they appear. The compensation that we get may also influence the topic, posts, and content on our Site this website. We do not represent all services or products available on the market. Editorial opinions expressed on the Site are strictly our own, and are not provided, endorsed, or approved by advertisers. We are not affiliated with any third party advertiser other than as stated above. As such, we do not recommend or endorse any product or service on this website. If you are redirected to a third party advertiser’s site, you should review their terms and conditions and privacy policy as they may differ significantly from those posted on this site.
        </p>
    </div>
    <small class="text-gray-500">© <span x-data x-text="new Date().getFullYear()"></span> <span x-data x-text="window.location.host"></span></small>
</footer>
